---
import Layout from '../layouts/BaseLayout.astro'; // or another generic layout

---

<Layout
    title="About Me"
    description="Matthew Metzgar, PhD"
    heroImage="/metzgar-photo-uncc-2025.jpg"
    pubDate={new Date('2025-05-20')}
>
	<p>
Dr. Matthew R. Metzgar, PhD, is a Clinical Professor of Economics at UNC Charlotte’s Belk College of Business and an award-winning teacher. He designs and delivers undergraduate economics and MBA courses that emphasize real-world application and innovative instructional techniques Belk College of Business.
	</p>

	<p>
His research spans the economics of obesity and the effectiveness of teaching methods. He was recently named a Gambrell Faculty Fellow, leading a project on employee ownership’s impact on the racial wealth gap in the Charlotte region. Dr. Metzgar has also been interviewed on labor-market shortages at both local and national levels. He co-chairs the Heterodox Academy Campus Community and facilitates the Constructive Dialogue Faculty Learning Community, regularly presenting on pedagogical innovation at academic conferences Belk College of Business.
	</p>

	<p>
Dr. Metzgar earned his PhD from the University of Tennessee, an MBA from Wheeling Jesuit University, and a BS from West Virginia University. His areas of expertise include public finance, the economics of obesity, and the sustainability of food production.
	</p>

	

	<p>
Contact: <a href="mailto:hello@overnight.education">hello@overnight.education</a>
	</p>
</Layout>
