---
import Layout from '../layouts/GeneralLayout.astro'; // or another generic layout
---



<Layout
    title="Speaking Events"
    description="Matthew Metzgar, PhD"
	pubDate={new Date('May 20 2025')}
	heroImage="/metzgar-photo-uncc-2025.jpg"
>

   
<p>This Pages uses the events layout</p>
</Layout>
