---
import Layout from '../layouts/GeneralLayout.astro'; // or another generic layout
---



<Layout
    title="Speaking Events"
    description="Matthew Metzgar, PhD"
	pubDate={new Date('May 20 2025')}
	heroImage="/metzgar-photo-uncc-2025.jpg"
>

    <p>
For speaking events or to work with me, contact: <a href="mailto:hello@overnight.education">hello@overnight.education</a>
    </p>

<p>
Designing with Love podcast.  June 2025.
    </p>

<p>
The Professor Game podcast.  June/July 2025.    
    </p>
<p>
AI Risk Reward podcast.  July 2025.   
    </p>

    <p>
Thursday, May 29, 2025.  Join me at <a href="https://digitallearning.ucf.edu/teachwithai/">The Teaching and Learning with AI Conference</a> at University of Central Florida where I'll be presenting on the five-step cycle for teaching with AI.  
    </p>

    <p>
Wednesday, May 14, 2025.  Join me at the <a href="https://teaching.charlotte.edu/2025-ai-summit-for-smarter-learning/">Charlotte AI Summit for Smarter Learning</a> where I'll be presenting on AI & Authentic Assessment. 
    </p>

    <p>
Friday, March 21, 2025.  Best Paper Award Winner for my presentation on AI & Authentic Assessment.  <a href="https://www.aobronline.com/conference/new-orleans-conference-2025">Academy of Business Research Conference</a>, New Orleans.
    </p>
</Layout>
